<div class="page-header">
  <h1>Editing Request #<%= @request.id %></h1>
</div>

<%= form_tag(request_url(@request), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :request_number, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :request_number, @request.request_number, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :user_number, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :user_number, @request.user_number, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :created_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :created_date, @request.created_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :needed_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :needed_date, @request.needed_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :time_needed, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :time_needed, @request.time_needed, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :delivery_city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :delivery_city, @request.delivery_city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :delivery_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :delivery_address, @request.delivery_address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :delivery_instructions, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :delivery_instructions, @request.delivery_instructions, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :request_text, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :request_text, @request.request_text, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_type, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :underwear_type, @request.underwear_type, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :underwear_size, @request.underwear_size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_color, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :underwear_color, @request.underwear_color, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :underwear_quantity, @request.underwear_quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_type, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_type, @request.undershirt_type, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_size, @request.undershirt_size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_color, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_color, @request.undershirt_color, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_quantity, @request.undershirt_quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_type, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_type, @request.sock_type, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_size, @request.sock_size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_color, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_color, @request.sock_color, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_quantity, @request.sock_quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Request", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
