<div class="page-header">
  <h1>New Request</h1>
</div>

<%= form_tag(requests_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :request_number, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :request_number, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :user_number, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :user_number, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :created_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :created_date, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :needed_date, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :needed_date, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :time_needed, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :time_needed, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :delivery_city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :delivery_city, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :delivery_address, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :delivery_address, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :delivery_instructions, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :delivery_instructions, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :request_text, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :request_text, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_type, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :underwear_type, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :underwear_size, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_color, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :underwear_color, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :underwear_quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :underwear_quantity, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_type, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_type, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_size, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_color, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_color, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :undershirt_quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :undershirt_quantity, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_type, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_type, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_size, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_color, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_color, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sock_quantity, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :sock_quantity, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Request", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
