<h1>Request #<%= @request.id %></h1>

<dl>
  <dt>Request number</dt>
  <dd><%= @request.request_number %></dd>

  <dt>User number</dt>
  <dd><%= @request.user_number %></dd>

  <dt>Created date</dt>
  <dd><%= @request.created_date %></dd>

  <dt>Needed date</dt>
  <dd><%= @request.needed_date %></dd>

  <dt>Time needed</dt>
  <dd><%= @request.time_needed %></dd>

  <dt>Delivery city</dt>
  <dd><%= @request.delivery_city %></dd>

  <dt>Delivery address</dt>
  <dd><%= @request.delivery_address %></dd>

  <dt>Delivery instructions</dt>
  <dd><%= @request.delivery_instructions %></dd>

  <dt>Request text</dt>
  <dd><%= @request.request_text %></dd>

  <dt>Underwear type</dt>
  <dd><%= @request.underwear_type %></dd>

  <dt>Underwear size</dt>
  <dd><%= @request.underwear_size %></dd>

  <dt>Underwear color</dt>
  <dd><%= @request.underwear_color %></dd>

  <dt>Underwear quantity</dt>
  <dd><%= @request.underwear_quantity %></dd>

  <dt>Undershirt type</dt>
  <dd><%= @request.undershirt_type %></dd>

  <dt>Undershirt size</dt>
  <dd><%= @request.undershirt_size %></dd>

  <dt>Undershirt color</dt>
  <dd><%= @request.undershirt_color %></dd>

  <dt>Undershirt quantity</dt>
  <dd><%= @request.undershirt_quantity %></dd>

  <dt>Sock type</dt>
  <dd><%= @request.sock_type %></dd>

  <dt>Sock size</dt>
  <dd><%= @request.sock_size %></dd>

  <dt>Sock color</dt>
  <dd><%= @request.sock_color %></dd>

  <dt>Sock quantity</dt>
  <dd><%= @request.sock_quantity %></dd>

</dl>
